h1 {
  text-align: center;
  color: blueviolet;
}
h2 {
  text-align: center;
}

.button-container {
  text-align: center;
}
#yesButton,
#noButton {
  margin: 10px;
}

#yesButton {
  background-color: green;
  color: white;
}

#noButton {
  background-color: orange;
  color: white;
}
